<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TigrinhoBet</title>
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="static/fundo.css">
</head>
<body>
    <div class="container-cadastro">
        <div class="box-cadastro">
            <h2>Cadastro</h2>
            <form action="/cadastro" method="POST">
                {% if resultado %}
                    <p id = "resultado" style="color: green;">{{ resultado }}</p>
                {% elif erro%}
                    <p id = "erro" style="color: red">{{ erro }}</p>
                {% endif %}

                <p id="erro-senhas"></p>

                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
                <input type="password" name="conf-senha" id="conf-senha" placeholder="Confirmar Senha" required>

                <div class="radio-group">
                    <input type="radio" name="perfil" id="check1" value="Funcionário" required>
                    <label for="check1">Funcionário</label>

                    <input type="radio" name="perfil" id="check2" value="Dono">
                    <label for="check2">Dono</label>
                </div>

                <button class="btn-cadastrar" type="submit">Cadastrar</button>
            </form>
            <a href="/login" class="link-login">Já tenho conta</a>
        </div>
    </div>

   <script>
        const novaSenha = document.getElementById('pass_esq_nova');
        const confirmaSenha = document.getElementById('pass_esq_conf');
        const mensagem = document.getElementById('erro-senhas');
        const form = document.getElementById('form-esq');

        confirmaSenha.addEventListener('input', () => {
            const original = novaSenha.value;
            const confirmacao = confirmaSenha.value;

            if (confirmacao.length === 0) {
                mensagem.innerHTML = '';
            } else if (confirmacao === original) {
                mensagem.innerHTML = '<span style="color: green;">Senhas iguais!</span>';
            } else {
                mensagem.innerHTML = '<span style="color: red;">Senhas diferentes!</span>';
            }
        });

    </script>
</body> 
</html>
