<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TigrinhoBet - Organização</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container-principal">
        <h1 class="titulo-principal">Planilha de Organização</h1>

        <div class="area-interativa">
          <div class="container-links">
              <a href="/login" class="botao-link">
                  <i class="fas fa-sign-in-alt"></i> Entrar
              </a>
              <a href="/cadastro" class="botao-link">
                  <i class="fas fa-user-plus"></i> Cadastrar
              </a>
          </div>
          <div class="imagem-lateral">
              <img src="{{ url_for('static', filename='image.png') }}" alt="Imagem decorativa">
          </div>
        </div>
    </div>
</body>
</html>
