<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TigrinhoBet</title>
    <link rel="stylesheet" href="static/base.css"/>
    <link rel="stylesheet" href="static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/fundo.css">
</head>
<body >
    <div class="container-login">
        <div class="box-login" >
            <h2>Login</h2>
            <form action="/login" method="POST">
                {% if resultado %}
                    <p style="color: red;">{{ resultado }}</p>
                {% endif %}

                <input type="email" name="email" id="email" placeholder="Email" required />
                <input type="password" name="senha" id="password" placeholder="Senha" required />

                <button class="btn-login" type="submit">Logar</button>
            </form>
            <a href="/esq_senha">Esqueceu a senha?</a>
            
            <a href="/cadastro" class="link-cadastro">Ainda não tem conta? Cadastre-se</a>
        </div>
    </div>
</body>
</html>
